body
{
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(26, 26, 26, 0.5);
    padding: 10px 20px;    
}

.logo
{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    
}

.logo span
{
    margin-right: 10px;
    width: fit-content;
    height: fit-content;
}

.nav-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px; /* space between each link */
    list-style: none;
    padding: 0;
    margin: 0;
}


.nav-links li a
{
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.search-container
{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    padding: 5px;
}

.search-container input[type="text"]
{
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 30px;
    font-size: 14px;
    color: teal;
    width: 200px;
}

.search-container .icon
{
    margin-left: -25px;
    color: teal;
    font-size: 18px;
}

.search-container button
{
    margin-left: 10px;
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    background-color: teal;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
}

.search-container button:hover
{
    background-color: black;
}

.intro-text
{
    margin-left: 15%;
    margin-top: 7%;
    width: 100%;
    max-width: 600px;
}
.intro-text h1
{
    font-size: clamp(30px, 5vw, 200px);
    border: 5px black;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.intro-text p
{
    font-size: clamp(16px, 3vw, 20px);
    max-width: 400px;
    text-align: left;       
}
.intro-text button
{
    margin-top: 20px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: teal;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    width: 150px;
}
.social-icons
{
    position: absolute;
    top: 45%;
    left: 2%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.social-icons a
{
    color: white;
    font-size: 20px;
}
.about-us
{
    position: absolute;
    top: 20%;
    left: 10%;
    right: 5%;
    transform: translateY(-50%);
    margin-top: 50px;
}
.about-us h1
{
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;

}   
#about-p
{
    font-size: 15px;
    padding: 20px 20px;
    line-height: 1.6;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.team
{
    position: absolute;
    top: 60%;
    left: 20%;
    transform: translateY(-50%);
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.team h2
{
    margin-right: 150px;
    font-size: 40px;
    font-weight: bold;
}
.team-member
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 200px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    
}

#description
{
    font-size: 12px;
    color: white;
}
.team-member h5
{
    font-size: 12px;
}
#position
{
    border: 1px solid white;
    border-radius: 5px;
    background-color: teal;
    font-size: 14px;
    color: white;
    margin-top: 20px;
    padding: 5px;
    text-align: center;
}

.div-contact-us
{
    display: flex;
    width: 100%;

}
#contact-us
{
    position: absolute;
    top: 50%;
    left: 10%;
    right: 5%;
    transform: translateY(-50%);
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}
#touch-text
{
    position: absolute;
    top: 60%;
    left: 10%;
    right: 5%;
    transform: translateY(-50%);
    font-size: 20px;
    color: white;
    margin-top: 50px;
}
.contact-form
{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
    
}
.contact-form form input
{
    background: transparent;
    border: 0.1px solid white;
    width: 100%;
    max-width: 600px;
    border-radius: 5px;
}
.contact-form form textarea
{
    background: transparent;
    border: 0.1px solid white;
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
}
.contact-form form button
{
    background-color: teal;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    max-width: 600px;
}
.contact-form form label
{
    display: block;
}
#search-result {
    position: absolute;
    left: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    max-width: clamp(300px, 40vw, 900px);
}
.result-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    color: black;
    margin-bottom: 20px;
    background: #fff;
    width: 100%;
    max-width: 500px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
}
.result-image {
    width: 100%;
    display: block;
    border-radius: 8px 8px 0 0;
}
.result-content {
    padding: 10px;
}
#visit-btn
{
    margin-left: 10px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: teal;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
}

#visit-btn:hover
{
    background-color: black;
}

.teal-header {
  background-color: teal; /* Teal shade */
  margin-bottom: 15px;
  border-radius: 6px; /* Optional: rounded corners */
  color: teal;
  width: 100%;
  max-width: 500px;
}